body {

    width: 100%;
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

.typeCalcs{
    width: max-content;
    position: relative;
    left: 2%;
}
.constructor{
    left: 6%;
    position: relative;
    width: 62%;

}
.displaylistNamesCalcs{
    padding-left: 15px;
}
._cb_{

}
.displayElemsSelectCalc{
    padding-left: 15px;
}
.displaySelect
{

}
.inline_box{
    display: -webkit-box;
}
.elementsCalcs
{
    position: relative;
    width: max-content;
    left: 3%;
}
.displaySlider{
    bottom: 2.5%;
    position: relative;
}
.displayInput
{
    display: -webkit-inline-box;
    margin-top: 1%;
    margin-bottom: 1%;
}
.displayInput1
{

    padding-left: 2%;
    padding-right: 25%;
}
.displayInput2
{

    padding-right: 33%;
    padding-left: 2%;
}

.nameCalc{



}
.stylelable
{
    margin-left: 30px;
    list-style: none;
    border: 2px solid #337AB7;
    background: #EBF3FA;
    position: relative;
    margin-bottom: 0px;
    padding: 5px 0px;
    width: 44%;
    text-align: center;
}
.stylelable1
{
    margin-right: 10px;
    list-style: none;
    border: 2px solid green;
    background: #EBF3FA;
    /*position: relative;*/
    padding: 5px 0px;
    width: 22%;
    text-align: center;
}
.block_height{
    height: 100px;
}
.block_height1{
    height: 50px;
}
.radiobut{
    padding-right: 23%;
    position: relative;

}
.dopusl
{
    left:3%;
}
.dopusl1
{
    position: relative;
    left:2%;
}
.stylelable2
{
    list-style: none;
    border: 2px solid green;
    background: #EBF3FA;
    position: relative;
    padding: 5px 0px;
    width: 50%;
    text-align: center;
}

.names{
    color: black;
    padding-left: 1%;
    padding-top: 2%;
    display: inline-block;
    width: 48%;
}
.names1{
    display: inline-block;
    color: black;
    position: relative;
    width: 25%;
}
.resultatBTN{
    top:20px;
    left:74%;
    position: relative;
}
.resultat
{
    margin-left: 8%;
    list-style: none;
    border: 2px solid #337AB7;
    background: #EBF3FA;
    position: relative;
    margin-bottom: 0px;
    padding: 5px 10px;
    width: 75%;
    text-align: center;
}
